* {
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.piece {
    width: 100px;
    height: 100px;
    border: 2px solid white;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid red;
    max-width: 300px;
}